go 1.18

use (
	./01_hello-world
	./02_values
	./03_variables
	./04_constants
	./05_for
	./06_if-else
	./07_switch
	./08_array
	./09_slices
	./10_maps
	./11_range
	./12_function
	./13_multiple-return-values
	./14_variadic-function
	./15_closure
	./16_recursion
	./17_pointer
	./18_string-and-rune
	./19_struct
	./20_method
	./21_interface
	./22_struct-embedding
	./23_generics
	./24_error
	./25_goroutines
	./26_channels
	./27_channel-buffering
	./28_channel-synchronization
	./29_channel-directions
	./30_select
	./31_timeout
	./32_non-blocking-channel-operation
	./33_closing-channel
	./34_range-over-channel
)
