go 1.18

use (
	./01_hello-world
	./02_values
	./03_variables
	./04_constants
	./05_for
	./06_if-else
	./07_switch
	./08_array
	./09_slices
	./10_maps
	./11_range
	./12_function
	./13_multiple-return-values
	./14_variadic-function
	./15_closure
	./16_recursion
	./17_pointer
	./18_string-and-rune
	./19_struct
)
